body{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/photos/virus-wide-picture-id1312985523?b=1&k=20&m=1312985523&s=170667a&w=0&h=BON9ct4JCqCd6FXNqclYSs1a3PeZZvJuZBMuo46_TUU="); 
    position: right top; 
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-size: cover;
}
.logo{
    height: 70px;
    width: 60px;
}
.nav_logo{
    color: white;
    font-size: 30px;
}
.main-container {
    font-family: "Roboto";
}

.wiki-search-header {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.wiki-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
}

.search-input {
    border-radius: 3px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #d5cdcd;
    font-size: 18px;
}

.search-results {
    width: 100%;
    padding-left: 20px;
}

.result-item {
    margin-bottom: 20px;
}

.result-title {
    font-size: 22px;
}

.link-description {
    font-size: 15px;
    color: #444444;
}

.result-url {
    color: #006621;
    text-decoration: none;
}